In [16]:
# Вспомогательные библиотеки
# Работа с датафреймом
import pandas as pd
# Линейная алгебра
import numpy as np
# Рисование графиков
import matplotlib.pyplot as plt

In [17]:
# Tensorflow
import tensorflow as tf

In [18]:
# Keras
from tensorflow.python import keras
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense, Flatten, Conv2D, Dropout
from tensorflow.python.keras.callbacks import ModelCheckpoint

In [19]:
# Настройки генератора случайных чисел
from tensorflow import random
random.set_seed(31)
np.random.seed(31)

In [20]:
# sklearn
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

### Подготовка данных

In [22]:
# Считываем датасеты
train = pd.read_csv('data/fashion-mnist_train.csv')
test = pd.read_csv('data/fashion-mnist_test.csv')

In [25]:
# train-это датасет на котором мы будем тренировать модели
# test - это датасет на котором мы будем проверять качество наших моделей
train.shape,test.shape

((60000, 785), (10000, 785))

In [30]:
train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
# Редактируем датафреймы.
# Тренировочный
x_train = train.drop('label',axis=1)/255
y_train = train['label']
# Тестовый
x_test = test.drop('label',axis=1)/255
y_test = test['label']

In [42]:
# Кодируем категориальный целевой признак в 0 или 1
# Создаем экземляр класса
encoder = OneHotEncoder()

In [39]:
# Вид до преобразования
y_train.head()

0    2
1    9
2    6
3    0
4    3
Name: label, dtype: int64

In [43]:
y_train_labels = encoder.fit_transform(np.reshape(np.array(y_train), (-1,1))).toarray()
y_test_labels = encoder.transform(np.reshape(np.array(y_test), (-1,1))).toarray()

In [46]:
# Вид после
y_train_labels[1]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 1.])